<!doctype html>
<title>Welcome to myPage</title>
<html>
<head>
<meta charset="UTF-8">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mystyle.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">


<center>
<button class="btn success"><a href="home" class="active">Home</a></button>
<button class="btn info"><a href="login" class="active">user</a></button>
<button class="btn warning"><a href="register" class="active">Register</a></button>
<button class="btn danger">Update</button>
<button class="btn danger">Delete</button>
<button class="btn default"><a href="support" class="active">support</a></button>
</center>

</head>
<body>
Welcome to my Page
<form action="search" method="GET">Search<input name="search" id="search"></form>
<center>
   {% for r in result %}
     <br><b>Author : </b>{{r.author}}	
	 <b>Comment : </b>{{r.quote}}</br>
  {% endfor %}
   </center>
   
   
   
    <br> </br>
   <center>
<div class="container">
  <form action="/process" method="POST">
     <div class="form-group">
	   <label for="author">Quote Author</label>
	   <input type="text" class="form-control" name="author"placeholder="Add quote author">
	   
	 
	 <div class="form-group">
	   <label for="quote">Quote</label>
	      <textarea class="form-control" rows="10" cols="50" name="quote" placeholder="Add your quote here..."> </textarea>
	 </div>
	 
	 
	 <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
	 
	 
 </form>
	 
</div>

</center>
</body>
</html>

