<!doctype html>
<title>Welcome to myPage</title>
<html>
<head>
<meta charset="UTF-8">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mystyle.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">


<center>
<button class="btn success"><a href="home" class="active">Home</a></button>
<button class="btn info"><a href="login" class="active">user</a></button>
<button class="btn warning"><a href="registfrom" class="active">Register</a></button>
<button class="btn danger"><a href="update" class="active">Update</a></button>
<button class="btn danger">Delete</button>
<button class="btn default"><a href="support" class="active">support</a></button>
<button class="btn default"><a href="profile" class="active">profile</a></button>
</center>

</head>
<body>
Welcome to my Page
<form action="search" method="POST">Search<input name="search" id="search"></form>
{% for r in result %}
     <br><b>user : </b>{{r.username}}	
	 <b>password : </b>***hide***
	 <b>email : </b>{{r.email}}</br>
  {% endfor %}

</body>
</html>
